<div id="{{dialog.id}}" class="modal fade modal-primary" role="dialog">
      <div class="modal-dialog modal-primary">

        <!-- Modal content-->
        <div class="modal-content">
          
          <div class="modal-header modal-primary">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><i class="{{dialog.iconTitle}}"></i> {{dialog.title}}</h4>
             </div>
                <div class="modal-body">
                	<div class="form-group">
					    <label for="driver"><i class="fa fa-gears"></i> Driver Class:</label>
					        <select id="driver" name="driver" class="form-control" ng-model="$parent.driver"
					        title="Choose the suitable Database Driver.">
					        	<option ng-repeat="driver in listDriver" 
					        			ng-value="driver.value">{{driver.label}}
					        	</option>					          
					        </select>					        
					</div>
					    <div class="form-group">
					       <label for="serverName"><i class="fa fa-server"></i> Server Name:</label>
					           <input type="text" class="form-control" name="serverName" ng-model="$parent.serverName" id="serverName" 
					           placeholder="type your server name/server ip ..." />
					   </div>
					   <div class="form-group">
					       <label for="port"><i class="fa fa-plug"></i> Port:</label>
					           <input type="number" class="form-control" name="port" ng-model="$parent.port" id="port" placeholder="port will be default if this field is null ..." />
					   </div>
					   <div class="form-group">
					       <label for="userName"><i class="fa fa-user"></i> User Name:</label>
					           <input type="text" class="form-control" name="userName" id="userName" ng-model="$parent.userName" placeholder="Type your name .." />
					   </div>
					   <div class="form-group">
					       <label for="password"><i class="fa fa-lock"></i> Password:</label>
					       <input type="password" class="form-control" name="password" id="password" placeholder="Type your password ..." ng-model="$parent.password"/>                          
					   </div>
					   <div>					   	
					   </div>
                </div>
                <div class="modal-footer">
                	<button ng-repeat="btn in dialog.btnControl" id="{{btn.btnId}}" class="btn btn-{{btn.btnClass}} btn-md-1 tip" title="{{btn.btnText}}"><i class="{{btn.btnIcon}}" ng-click="testConnection()"></i></button>
                </div>
            </div>
        </div>
</div>


